<div class="jumbotron text-center p-5 my-5">
    <h2> All Events </h2>
</div>

<%if(success.lenght > 0){%>
    <div class="alert alert-danger my-2">
        <%= success %>
    </div>
<%}%>

<section class="events text-center">
    <table class="table table-hovered table-bordered table-striped">
        <thead>
            <th>Course Name</th>
            <th>Course Price</th>
            <th>Course Description</th>
            <th>#</th>
        </thead>
        <tbody>
            <% for(let event of events){ %>
            <tr>
                <td><%= event.name %></td>
                <td><%= event.price %></td>
                <td><%= event.description %></td>
                <td>
                    <a href="/events/<%= event.slug %>" class="btn btn-info">Show</a>
                    <a href="/events/<%= event.slug %>/update" class="btn btn-success">Update</a>
                    <a href="/events/<%= event.slug %>/delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <%} %>
        </tbody>
    </table>
</section>